*,
*:before,
*:after {
  box-sizing: border-box;
  font-weight: 1000;
  font-size: 4vh;
  color: rgb(16, 16, 218);
}

body {
  padding: 1% 10% 10%;
  background: center/cover, rgba(128, 128, 128, 0.534);
}

.container {
  margin: auto;
  width: 80%;
  height: auto;
  border: 1vh solid grey;
  padding-left: 1%;
}

h2 {
  color: black;
}

label:active img {
  opacity: 0.2;
}

label:active .title {
  opacity: 0.2;
}

.mem-sel {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.meme-image {
  width: 80%;
  height: 0;
  overflow: hidden;
  max-width: 70vh;
  margin-bottom: 3vh;
}

label {
  padding-top: 2vh;
  border-top: 0.2vh solid rgba(31, 28, 28, 0.438);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: none;
}

input:checked ~ .meme-image {
  height: auto;
  padding: 2vh 0;
}

input:checked ~ div .title {
  color: black;
}

@media (hover: hover) {
  .container:hover .title {
    color: black;
  }

  label:hover .meme-image {
    height: auto;
    padding: 3vh 0;
    transition: all 0.7s;
  }

  label:hover .plus {
    opacity: 1;
    width: 3vh;
    transform: rotate(45deg);
    transition: all 0.7s;
  }

  .container:hover .plus {
    opacity: 1;
    width: 3vh;
  }

  .container:hover .title {
    color: black;
  }
}

@media (max-width: 900px) {
  *,
  *:before,
  *:after {
    font-weight: 750;
    font-size: 3vh;
    color: rgb(11, 88, 24);
  }
  .container {
    width: 90%;
  }
  body {
    padding: 1% 5% 5%;
  }
}

@media (max-width: 500px) {
  *,
  *:before,
  *:after {
    font-weight: 500;
    font-size: 2vh;
    color: rgb(165, 6, 80);
  }
  .container {
    width: 100%;
  }
  body {
    padding: 1% 1% 1%;
  }
}

label,
.container {
  cursor: pointer;
}

label .plus {
  transform: rotate(0deg);
  transition: all 0.7s;
}
